@page
@model ShopNServe.AdminPanel.Web.Pages.ProductCatalogModel
@{
}

Product Catalog


<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model.Products)
        {
            <tr>
                <th>@prod.Code</th>
                <td>@prod.Name</td>
                <td>@prod.PriceCurrency @prod.PriceAmount</td>
                <td>@prod.StockCount</td>
            </tr>
        }
    </tbody>
</table>